export ANSIBLE_HOST_KEY_CHECKING=False
export EC2_REGION=us-east-1
export AWS_ACCESS_KEY=
export AWS_SECRET_KEY=
export AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY
export AWS_SECRET_ACCESS_KEY=$AWS_SECRET_KEY

export PEM_NAME=yourpem
export PEM_PATH=~/.ssh/yourpem.pem

export CLIENT=devoxx
export ENV=tia

export VPC_ID=
export SUBNET_ID=

export GOCD_GITHUB_OAUTH_LOGIN=
export GOCD_GITHUB_OAUTH_TOKEN=

export HUBOT_SLACK_TOKEN=

export HUBOT_TWITTER_CONSUMER_KEY=
export HUBOT_TWITTER_CONSUMER_SECRET=
export HUBOT_TWITTER_ACCESS_TOKEN_KEY=
export HUBOT_TWITTER_ACCESS_TOKEN_SECRET=

export HUBOT_GOCI_CCTRAY_URL=http://gocd.devoxx.dailybrain.fr/go/cctray.xml

export HUBOT_ANSIBLE_INVENTORY_INI=/opt/hubot/inventory/ec2.ini
export HUBOT_ANSIBLE_INVENTORY_FILE=/opt/hubot/inventory/ec2.py
export HUBOT_ANSIBLE_PRIVATE_KEY=/opt/hubot/yourpem.pem
export HUBOT_ANSIBLE_PREFIX_HOSTS="devoxx_tia_"
export HUBOT_ANSIBLE_REMOTE_USER="admin"

export HUBOT_PEM_PATH=~/.ssh/yourpem.pem
export HUBOT_ANSIBLE_HOST_KEY_CHECKING=False
export HUBOT_EC2_REGION=us-east-1
export HUBOT_AWS_ACCESS_KEY=
export HUBOT_AWS_SECRET_KEY=
export HUBOT_AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY
export HUBOT_AWS_SECRET_ACCESS_KEY=$AWS_SECRET_KEY
