var config = {
    hostname: '{{gocd_server.ec2_private_ip_address}}',
    port: '8153',
    auth: 'burstah:X@2rAswuda', //user:password
    ssl: false, //use SSL (for HTTPS connections)
    limitTo: [] //if empty all the jobs will be visualised (meaning everything with PIPELINE :: STAGE :: JOB name)
  };

exports.getConfig = function(){return config;};
